@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


body {
  margin: 0;
  font-family: 'PT Mono', monospace, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'PT Mono', monospace, sans-serif !important;
 
}

.player-wrapper {
  position: relative;
  padding-top: 30.25% /* Player ratio: 100 / (1280 / 720) */
} 

@keyframes spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(270deg);  
  }
  0% {border-color: transparent; left:200px; right:100px;top:0px;}
  25%  {border-color:transparent;left:500px; right:100px;top:200px;}
  50%  {border-color:transparent;left:500px; bottom:50px;}
  75%  {border-color:transparent;left:100px; right: 30px;top:500px;}
  100% {border-color:transparent;right:200px; bottom:500px;}
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)
  }
  0%   {background-color:lightblue; left:0px; top:0px;}
  25%  {background-color:navajowhite; left:20px; top:0px;}
  50%  {background-color:lawngreen; left:20px; top:20px;}
  75%  {background-color:purple; left:0px; top:20px;}
  100% {background-color:blue; left:0px; top:0px;}
}

@keyframes fuzzy {
  0%   {right:100px; bottom:10px;}
  25%  { right:200px;left:400px;}
  50%  {left:200px; bottom:50px;}
  75%  { right:10px; bottom:500px;}
  100% { left:5000px; top:10px;}
}

.logo-monster{
  position:relative;
  animation-name: spin;
  animation-duration: 9s;
  margin-top: 10rem;
  
}

.nav-monster{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  background-color: lightpink;
  animation-name: move;
  animation-duration: 4s;
  padding:5px;
  
}

.artist-home:hover{
  width: 75%;
  height:75%;
}
.press-me,
.accordion{
  margin-top:1rem;
  margin-bottom:1rem;
}
.edit-review{
  margin-left: 7rem;
}

.song-content{
 justify-content: center;
 align-self: auto;
}
.react-player{
  align-items: center;
  margin-top: 0rem;
  margin-bottom:10rem;
}

.spinning-logo{
  width:200px;
  height:200px;
  border-radius:100%;
  animation-name: move;
  animation: move infinite 20s;
  animation-play-state: running;
  animation-direction: alternate;
  background-color: transparent;
}

.fuzzy-logo{
  border-radius: 90%;
  position:relative;
  width: 200px;
  height: 200px;
  animation-name: fuzzy;
  animation-duration: 4s;
  justify-items: start;
  animation: fuzzy infinite 20s;
  animation-fill-mode: backwards;
}
.music-logo{
  border-radius: 90%;
  width: 200px;
  height: 200px;
  animation-name:move;
  animation:move infinite 20s;
  opacity:1;
  position:absolute;
  

}
.parent{
  position:relative;
}
.music-logo-container{
  position:absolute;
  top: 20%;
  left: 80%;
  transform: translate(-80%, -20%);
}


@media only screen and (min-width:200px) and (max-width:600px)  {
  .music-logo{
    border-radius: 90%;
    width: 50px;
    height: 50px;
    animation-name:move;
    animation:move infinite 20s;
    opacity:1;
    position:absolute;
    top: 30%;
    left: 90%;
    transform: translate(-90%, -30%);
  }
}
